.product-list-action .p-button{
    margin-right: .5rem;
}

.product-list-action .p-button:last-of-type {
    margin-right: 0;
}

.search-results-list .p-button{
    background: var(--cyan-600);
}

.search-results-list .p-button:not(a):not(.p-disabled):hover {
    background: #00899b;
}